* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    margin: 0;
}

.sidebar ul, .header ul {
    list-style-type: none;
    padding: 0px;
}

.sidebar > ul > li {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.header ul li {
    padding: 15px;
}

.sidebar {
    background-color: lightblue;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 60px;
    font-size: 1.1em;
    padding: 20px;
}

.header ul{
    display: flex;
    align-items: center;
}

#dashboard-logo {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 1.2em;
}

#dashboard-logo .icon {
    width: 1.5em;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px 50px 10px 50px;

}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 35px;

}

.bottom {
    display: flex;
    align-items: center;
}

.greetings {
    margin-right: auto;
    font-weight: bold;
    font-size: 0.8em;
    padding-left: 10px;
}

.greetings p {
    font-size: 2em;
}

.top .profile {
    width: 3em;
}
.bottom .profile {
    width: 4em;
}

.search-bar {
    flex: 1;
    height: 30px;
    max-width: 600px;
    background-color: lightgrey;
    border-radius: 15px;

    display: flex;
    align-items: center;
}

.header ul {
    display: flex;
}

.content {
    background-color: lightgrey;
}

.icon {
    width: 1.4em;
}

#search-icon {
    position: relative;
    right: 35px;    
}

button {
    background-color: lightskyblue;
    border-radius: 10px;
    border-style: none;
    padding: 5px 15px 5px 15px;
    font-size: 1.2em;

    display: flex;
    
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.section {
    display: flex;
    flex-direction: column;
}
.content .section:first-child {
    grid-column: span 2;
}

.content .section:nth-child(2) {
    display: flex;
    flex-direction: column;
    
}

.section-header {
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

.content .project-list {

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    justify-items: start;
    align-items: start;
    padding: 10px;
    flex: 1;
    gap: 20px;

    padding-top: 0;

}

.project {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 100%;

    padding: 10px;

}

.project-header {
    font-size: 1em;
}
.annoucement-list, .trending-list {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.annoucement-item, .trending-item {
    padding: 10px;
}

.annoucement-header {
    font-size: 0.8em;
}

.content .section>.section {
    padding: 10px;
    padding-top: 0px;
}

.content .section .section:first-child {
    margin-bottom: auto;
}

.project-description, .annoucement-description, .trending-description {
    color:rgb(67, 66, 66);
    font-size: 0.8em;

}


.trending-item-header {
    font-size: 0.8em;
}
